<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input id="username" type="text" name="UserName">
        <label for="email">Email</label>
        <input id="email" type="email" name="email">

        <label for="password">Password</label>
        <input id="password" type="password" name="Password">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="text" name="phoneNumber">
        <% if (errors) { %>
            <ul>
                <% Object.keys(errors).forEach(key => { %>
                    <li><%= errors[key] %></li>
                <% }); %>
            </ul>
        <% } %>

        <input type="submit" value="Submit">
    </form>
</body>
</html>