body {
    font-family: Arial, sans-serif;
    background-color: rgb(78, 78, 78);
    color: white;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;

  }
  .scrollable-content {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  h1 {
    margin: 20px 0;
    text-align: center;
  }
  
  form, ul {
    padding-left: 30px;
    padding-right: 80px;
   

  }
  
  input[type="file"], button, a {
    background-color: darkorange;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
    cursor: pointer;

  }
  
  input[type="file"] {
    cursor: pointer;
  }
  
  button:hover, a:hover {
    background-color: #e69500;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="file"] {
    width: 50%;
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    width: 100%; 
    text-align: start;

  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-wrap: wrap;
  }
  .file-name {
    margin-right: auto;
  }
  .links a {
    margin-left: 10px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .a{

    margin-right: 35px;
  }
  .btn{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
  }

  li:hover {
    background-color: #5e5d5d; 
   border-radius: 10px;
   margin: auto;
   padding: auto;
  }
  
.btn:hover {
    background-color: #FFA500;
    color: white;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
  }

  .actions a {
    margin-left: 8px; /* Space between buttons */
  }
  